/* RESETS */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* SETUP */

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

/* GENERAL STYLES */

html,
body {
  height: 100%;
}

body > *:first-child.main-container {
  height: 100vh;
  width: clamp(700px, 60vw, 900px);
  margin: 0 auto;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #eeeeee;
  color: #222222;
}

.icon {
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto;
  fill: #222222;
  opacity: 0.625;
  cursor: pointer;
}

.icon.check-icon,
.icon.uncheck-icon {
  width: 1.25em;
  height: 1.25em;
}

.button {
  padding: 0.2em 0.8em;
  border-radius: 5px;
  cursor: pointer;
}

.button.button-fill {
  border: 1px solid black;
  background-color: inherit;
  font-weight: 400;
}

input[type="checkbox"] {
  transform: scale(1.125);
  margin: 0.125px;
}

.table td:nth-child(1),
.table th:nth-child(1) {
  text-align: left;
}

.table td:nth-child(2),
.table td:nth-child(3),
.table th:nth-child(2),
.table th:nth-child(3) {
  text-align: left;
}

.table td:nth-child(4),
.table th:nth-child(4) {
  text-align: right;
}

.table td:nth-child(5),
.table td:nth-child(6),
.table th:nth-child(5),
.table th:nth-child(6) {
  text-align: center;
}

/* SPECIFIC STYLES */

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.6rem 0 2.4rem 0;
}

.main-header .primary-heading {
  font-size: 2.8rem;
}

.main-content .table {
  width: 100%;
  border-collapse: collapse;
}

.table .table-header {
  background-color: aqua;
}

.table .table-heading,
.table .table-data {
  border: 1px solid black;
  padding: 0.4rem 1.2rem;
}

.table .table-heading {
  font-weight: 600;
}

.table .table-data {
  font-weight: 400;
}
